@model IEnumerable<eCommerce.Entity.Produit>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.BeginForm("Disable","Produit", FormMethod.Post){
<p>
    @Html.ActionLink("Create New", "Create") |
    <input type="submit" value="Désactiver les éléments sélectionnés" class="btn btn-default" />
</p>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Dimensions
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Couleur)
        </th>
        <th>
            @Html.DisplayName("Fabriquant")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.CheckBox(string.Format("disable{0}", item.Id))
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prix)
            </td>

            @if (item.Status)
            {
                <td>Inactif</td>
            }
            else
            {
                <td>Actif</td>
            }

            <td>
                @Html.DisplayFor(modelItem => item.Hauteur) x @Html.DisplayFor(modelItem => item.Longueur) x @Html.DisplayFor(modelItem => item.Largeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Couleur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabriquant.Nom)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }) |
                @Html.ActionLink("Photos", "Index", "Photo", new { id = item.Id }, null)
            </td>
        </tr>
    }

</table>
}
