@model IEnumerable<eCommerce.Entity.Produit>

@{
    ViewBag.Title = "Index";
}
@Scripts.Render("~/bundles/jquery")
@*<script>

    $(function () {
        $("#envoie").click(function () {
            var liste = "";
            $('.table').find('input').each(function () {
                if ($(this).is(':checked') && $(this).attr("type")=="checkbox") {
                    liste += $(this).attr("name") + ",";
                }
            });
            $.post("/Produit/Disable/", { elements: liste });
        });
    });

</script>*@

<h2>Index</h2>
@using (Html.BeginForm("Disable", "Produit"))
{
<p>
    @Html.ActionLink("Create New", "Create") |
    <input type="submit" value="Changer le status des éléments sélectionnés" class="btn btn-default" />
</p>

<table class="table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prix)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            Dimensions
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Capacite)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Couleur)
        </th>
        <th>
            @Html.DisplayName("Fabriquant")
        </th>
        <th></th>
    </tr>
    @{ List<eCommerce.Entity.Produit> liste = Model.ToList();}
    @for(int i=0;i<Model.Count();i++)
    {
        <tr>
            <td>
                @Html.CheckBox("_"+liste[i].Id,false,new { htmlAttributes = new {  id="_"+liste[i].Id, @class = "form-control" } })
            </td>
            <td>
                @Html.DisplayFor(modelItem => liste[i].Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => liste[i].Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => liste[i].Prix)
            </td>

            @if (liste[i].Status)
            {
                <td>Inactif</td>
            }
            else
            {
                <td>Actif</td>
            }

            <td>
                @Html.DisplayFor(modelItem => liste[i].Hauteur) x @Html.DisplayFor(modelItem => liste[i].Longueur) x @Html.DisplayFor(modelItem => liste[i].Largeur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => liste[i].Capacite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => liste[i].Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => liste[i].Couleur)
            </td>
            <td>
                @Html.ActionLink(liste[i].Fabriquant.Nom,"Details", "Fabriquant", new { id=liste[i].Fabriquant.Id}, null)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = liste[i].Id }) |
                @Html.ActionLink("Details", "Details", new { id = liste[i].Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = liste[i].Id }) |
                @Html.ActionLink("Photos", "Index", "Photo", new { id = liste[i].Id }, null)
            </td>
        </tr>
    }

</table>
}